#loginContainer {
  display: flex;
  align-items: center;
  background-color: #496175;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
#homePageContainer {
  display: flex;
  background-color: #496175;
  height: 150vh;
  flex-direction: column;
  /* justify-content: center; */
  align-items: baseline;
}

#discoverContainer {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 250px;
}
.uzun {
  width: 150px;
  height: 30px;
}
.kisa {
  width: 100px;
  height: 30px;
}
.btn {
  transition: width 1s;
  border-radius: 10px;
  border-color: transparent;
}
